div {
    width: 50%;
    background-color: #F9F9F9;
    margin: 20px auto auto auto;
    padding: 10px 10px 10px 10px;
    box-shadow: 3px 3px 3px #3E3E3E;
    border-radius: 10px;
}


.header {
    width: 48%;
    padding: 30px;
    text-align: center;
    background: #0b1e53;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

a {
    line-height: 50px;
    font-size: 14px;
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
}

table {
    font-size: 14px;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #3E3E3E;
    margin: 20px auto auto auto;
    table-layout: fixed;
    width: 51%;
}

td {
    color: black;
    border-radius: 10px;
    text-align: center;
    height: 50px;
}

td:hover {
    background-image: linear-gradient(to right, #3B64FF, #8BA3FF);
}
