.root {
    font-family: Verdana;
    background-image: linear-gradient(to right, #2855FF, #7C97FF);
}

.formContainer {
    width: 30%;
    background-color: #F9F9F9;
    text-align: center;
    margin: 100px auto auto auto;
    padding: 50px 10px 50px 10px;
    box-shadow: 3px 3px 3px #3E3E3E;
    border-radius: 10px;
}

.titleLabel {
    font-size: 25px;
    display: block;
    padding-bottom: 40px;
}

.error {
    background-color: red;
    color: white;
}

.inputTextbox {
	outline: none;
    width: 70%;
    height: 50px;
    background-color: #E1E1E1;
    border: none;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 18px;
}

.submitButton {
    font-size: large;
    width: 72%;
    height: 50px;
    border: none;
    outline: none;
    background-image: linear-gradient(to right, #2855FF, #7C97FF);
}
.submitButton:hover {
    background-image: linear-gradient(to right, #3B64FF, #8BA3FF);
}
submitButton:active {
    background-image: linear-gradient(to right, #2855FF, #7C97FF);
}

.switchPages {
    color: grey;
    display: block;
    margin-top: 50px;
}

footer {
    text-align: center;
}