/* General */
body {
    font-family: Helvetica;
    background-image: linear-gradient(to right, #2855FF, #7C97FF);
}

div {
    width: 50%;
    background-color: #F9F9F9;
    margin: 10px auto auto auto;
    padding: 10px 10px 10px 10px;
    box-shadow: 3px 3px 3px #3E3E3E;
    border-radius: 10px;
}

button {
    font-size: large;
    height: 50px;
    width: 100px;
    border: 1px solid black;
    outline: none;
    background: #0B1E53;
    color: white;
    border-radius: 10px;
}
button:hover {
    background: #253152;
}

input {
    outline: none;
    height: 50px;
    background-color: #E1E1E1;
    border: none;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 10px;
}

select {
    font-size: 18px;
    background-color: #E1E1E1;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 10px;
}
option:nth-child(even) {
    background-color: white;
}

form {
    display: inline-block;
}

footer {
    text-align: center;
}

.fullWidthForm {
    width: 100%;
}

/* poolBrowser.html */
.titleDiv {
    text-align: center;
}

.title {
    font-size: 60px;
    display: block;
    padding-bottom: 20px;
}

.poolName {
    font-size: 48px;
    padding-left: 10px;
}

.poolCategory {
    font-size: 24px;
    padding-right: 10px;
    float: right;
}

.poolAmount {
    color: green;
    font-size: 72px;
    margin: auto;
    display: table;
    padding: 50px 0px 50px 0px;
}

/* accountManagement.html */
.accountManagementInput {
    width: 30%;
}

.accountManagementSelect {
    width: 31.5%;
}


.submitButton {
    font-size: 18px;
    width: 50px;
}

.approveButton {
    background: #0B530D;
    width: 15%;
}
.approveButton:hover {
    background: #255225;
}

.denyButton {
    background: #530B0B;
    width: 15%;
}
.denyButton:hover {
    background: #522525;
}




.contribute {
    padding-left: 10px;
    width: auto;
}
.request {
    padding-right: 10px;
    width: auto;
    float: right;
}

