<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Account Management</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/poolStyle.css') }}">
</head>

<body>
    <!-- Header declaration -->
    {% with user=user %}
        {% include 'header.html' %}
    {% endwith %}

    <!-- Choose active bank account -->
    <div>
        <h3>Choose Active Bank Account</h3>

        <form class="fullWidthForm" action="/switchBankAccounts" method="post">
            <select class="accountManagementSelect" name="accountDropDown">
                <option disabled selected value>{{ bankAccount.account_name }} - {{ "${:,.2f}".format(bankAccount.micro_dollars) }}</option>
                {% for account in user.bank_accounts %}
                    <option value="{{ account.id }}">{{ account.account_name }} - {{ "${:,.2f}".format(account.micro_dollars) }}</option>
                {% endfor %}
            </select>

            <button type="submit">submit</button>
        </form>
    </div>

    <!-- Add funds to active account -->
    <div>
        <h3>Add Funds to Your Account - [{{ bankAccount.account_name }} - {{ "${:,.2f}".format(bankAccount.micro_dollars) }}]</h3>

        <form class="fullWidthForm" action="/addFundsToActiveBankAccount" method="post">
            <input class="accountManagementInput" type="text" placeholder="add funds" name="add funds"/>
            <button type="submit">submit</button>
            {% with errors = get_flashed_messages(category_filter=["addFundsError"]) %}
                {% if errors %}
                    {% for error in errors %}
                        <br>
                        <span style="color:red;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>

    <!-- Create new bank account section -->
    <div>
        <h3>Create New Bank Account</h3>

        <form class="fullWidthForm" action="/createNewBankAccount" method="post">
            <input class="accountManagementInput" type="text" name="account name" placeholder="account name"/>
            <button type="submit">submit</button>
            {% with errors = get_flashed_messages(category_filter=["createBankAccountMissingFieldError"]) %}
                {% if errors %}
                    {% for error in errors %}
                        <br>
                        <span style="color:red;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>

    <!-- Change user information section -->
    <div>
        <h3>Edit User Information</h3>

        <form class="fullWidthForm" action="/changeUserInformation" method="post">
            <span>1) Choose which piece of info you would like to change</span>
            <br><br>
            <select class="accountManagementSelect" name="infoDropDown">
                <option value="first name">First name</option>
                <option value="last name">Last name</option>
                <option value="username">Username</option>
                <option value="password">Password</option>
            </select>
            <br><br>

            <span>2) Enter what you would like to change it to</span>
            <br><br>
            <input class="accountManagementInput" type="text" name="newInformation"/>
            <br>

            <span>3) Enter your password and submit</span>
            <br><br>
            <input class="accountManagementInput" type="password" name="password"/>

            <button type="submit">submit</button>
            {% with errors = get_flashed_messages(category_filter=["editInfoError"]) %}
                {% if errors %}
                    {% for error in errors %}
                        <br>
                        <span style="color:red;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["editInfoSuccess"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <br>
                        <span>{{ message }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
</body>

<br>
<footer>Website by Ryan McDermott, Wesley Tan, Alex Uctum, Kevin Skulski</footer>

</html>