<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Account Management</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/accountManagementStyle.css') }}">
</head>

<body>
    {% with isBankManager=isBankManager %}
        {% include 'header.html' %}
    {% endwith %}

    <!-- Choose active bank account -->
    <div class="container">
        <h3>Choose Active Bank Account</h3>

        <form action="/switchBankAccounts" method="post">
            <select name="accountDropDown" class="dropDown">
                <option disabled selected value>{{ bankAccount.account_name }} - ${{ bankAccount.micro_dollars }}</option>
                {% for account in user.bank_accounts %}
                    <option value="{{ account.id }}">{{ account.account_name }} - ${{ account.micro_dollars }}</option>
                {% endfor %}
            </select>

            <button class="button" type="submit">submit</button>
        </form>
    </div>

    <!-- Add funds to active account -->
    <div class="container">
        <h3>Add Funds to Your Account - [{{ bankAccount.account_name }} - ${{bankAccount.micro_dollars}}]</h3>

        <form action="/addFundsToActiveBankAccount" method="post">
            <input class="textbox" type="text" placeholder="add funds" name="add funds"/>
            <button class="button" type="submit">submit</button>
        </form>
    </div>

    <!-- Change user information section -->
    <div class="container">
        <h3>Edit User Information</h3>

        <form action="/changeUserInformation" method="post">
            <span>1) Choose which piece of info you would like to change</span>
            <br><br>
            <select name="infoDropDown" class="dropDown">
                <option value="first name">First name</option>
                <option value="last name">Last name</option>
                <option value="username">Username</option>
                <option value="password">Password</option>
            </select>
            <br><br>

            <span>2) Enter what you would like to change it to</span>
            <br><br>
            <input class="textbox" type="text" name="newInformation"/>
            <br>

            <span>3) Enter your password and submit</span>
            <br><br>
            <input class="textbox" type="text" name="password"/>

            <button class="userInfoButton" type="submit">submit</button>

            {% if error %}
                <span style="color: red;">{{ error }}</span>
            {% endif %}
        </form>
    </div>
</body>
<footer, style="position: absolute; bottom: 0px;">Website by Ryan McDermott, Wesley Tan, Alex Uctum, Kevin Skulski</footer>
</html>