<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Bank Management</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/poolStyle.css') }}">
</head>

<body>
    <!-- Header declaration -->
    {% with user=user %}
        {% include 'header.html' %}
    {% endwith %}

    <!-- Create new pools -->
    <div class="container">
        <h3>Create New Loan Pool</h3>

        <form action="/createNewPool" method="post">
            <input class="poolTextbox" type="text" placeholder="pool name" name="pool name"/><br>
            <input class="poolTextbox" type="text" placeholder="pool category" name="pool category"/><br>
            <input class="poolTextbox" type="text" placeholder="starting amount" name="starting amount"/>

            <button class="userInfoButton" type="submit">submit</button>
        </form>
    </div>

    <!-- Approve/deny loan requests -->
    <div class="container">
        <h3>Review Loan Requests</h3>

        {% for loanRequest in loanRequests %}
            <form action="/approveOrDenyLoanRequest" method="post">

            </form>
        {% endfor %}
    </div>
</body>

<footer style="position: absolute; bottom: 0px;">Website by Ryan McDermott, Wesley Tan, Alex Uctum, Kevin Skulski</footer>

</html>