<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Microlending Dashboard</title>

 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/poolStyle.css') }}">
</head>

<body class="root">
    <!-- Header declaration -->
    {% with user=user %}
        {% include 'header.html' %}
    {% endwith %}

    <p style="text-align: center;">Welcome, {{user.firstname}}</p>

    <table>
        <tr>
            <th>ACTIVE ACCOUNT: {{ bankAccount.account_name }}
            </th>
        </tr>

        <tr>
            <td>BALANCE: {{ "${:,.2f}".format(bankAccount.micro_dollars) }}</td>
        </tr>

    </table>

    <table>
        <tr>
            <th>Pending Loans</th>
        </tr>
            {% for loan_request in loan_requests %}
            <tr>
                <td>{{ "${:,.2f}".format(loan_request.amount)}}</td>
            </tr>
            {% endfor %}
    </table>

    <table>
        <tr>
            <th colspan="2">Approved Loans</th>
        </tr>

        <tr>
            <th>Amount Loaned</th>
            <th>Date Given</th>
        </tr>
        {% for loan in loans %}
        <tr>
            <td>{{ "${:,.2f}".format(loan.amount) }}</td>
            <td>{{ loan.format_date_given }}</td>
        </tr>
        {% endfor %}

    </table>
</body>

<br>
<footer>Website by Ryan McDermott, Wesley Tan, Alex Uctum, Kevin Skulski</footer>

</html>