<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Microlending Dashboard</title>

 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/poolStyle.css') }}">
</head>

<body class="root">
    <!-- Header declaration -->
    {% with user=user %}
        {% include 'header.html' %}
    {% endwith %}

    <p style="text-align: center;">Welcome, {{user.firstname}}</p>
</body>

<br>
<footer style="text-align:center;">Website by Ryan McDermott, Wesley Tan, Alex Uctum, Kevin Skulski</footer>

</html>