<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Microlending Dashboard</title>

 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/poolStyle.css') }}">
</head>

<body class="root">
    <!-- Header declaration -->
    {% with user=user %}
        {% include 'header.html' %}
    {% endwith %}

    <p style="text-align: center;">Welcome, {{user.firstname}}</p>

    <table>
        <tr>
            <th>Pending Loans</th>
            <th>Approved Loans</th>
        </tr>
            {% for loan_request in user.loan_requests %}
            <tr>
                <td>{{loan_request.amount}}</td>
            </tr>
            {% endfor %}
    </table>
</body>

<footer style="position: relative; bottom: 0px;">Website by Ryan McDermott, Wesley Tan, Alex Uctum, Kevin Skulski</footer>

</html>