<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>MICROLENDING</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/headerStyle.css') }}">
</head>

<div class="header">
    <h1>MICROLENDING</h1>
    <p>- BANKING -</p>
</div>

<body class="root">
        <table>
            <th>User: {{user.username}}</th>
            <td><a href="{{ url_for('main.dashboard') }}">Dashboard</a></td>

            <td><a href="{{ url_for('main.poolBrowser') }}">Pool Browser</a></td>
            <td><a href="{{ url_for('main.accountManagement') }}">Account Management</a></td>

            <!-- If the bankManager variable is set to True, then this part of the HTML will be displayed -->
            {% if user.isBankManager %}
                <td><a href="{{ url_for('main.bankManagement') }}">Bank Management</a></td>
            {% endif %}

            <td><a href="{{ url_for('main.logout') }}" style="color: Red;">Logout</a></td>
        </table>
</body>
</html>