<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <title>Index</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/form.css') }}">

</head>

<body class="root">

    <a href="login">LOGIN</a>
    <br>
    <a href="signup">SIGN UP</a>
    <br><br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}

</body>

</html>