<!doctype html>

<html lang="en">

<head>

  <meta charset="utf-8">

  <title>Sign Up</title>

  <link rel="stylesheet" type="text/css" href="loginPage.css">

</head>

<body class="root">

    <div class="formContainer">
        <form action="" method="post">
            <label class="titleLabel">sign up</label>
            <br>

            <input class="inputTextbox" style="width: 33%" type="text" placeholder="first name" name="firstname"/>

            <input class="inputTextbox" style="width: 33%" type="text" placeholder="last name" name="lastname"/>
            <br>

            <input class="inputTextbox" type="text" placeholder="email" name="email">
            <br>

            <input class="inputTextbox" type="text" placeholder="username" name="username"/>
            <br>

            <input  class="inputTextbox" type="password" placeholder="password" name="password">
            <br>

            <button class="submitButton" type="submit">SIGN UP</button>
            <br>

            <span class="switchPages">already registered? <a href="loginPage.html">login</a> </span>
        </form>
    </div>

</body>

</html>